<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entity.Properties.Settings.HospitalManageConnectionString"
            connectionString="Data Source=16S8WWJ8C9ADB41;Initial Catalog=HospitalManage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>